<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<import resource="classpath:spring-beans-aop.xml"/>
		
	<import resource="classpath:spring-beans-jdbc.xml"/>
	
	<!-- values.properties 설정파일 위치 설정 -->
	<context:property-placeholder location="classpath:values.properties"/>
	
	<!-- Auto Scanning을 사용한 Bean 등록 설정 -->
	<context:component-scan base-package="myspring.**.annot" />
	<context:component-scan base-package="myspring.user,myspring.student" />
	
	<!-- StringPrinter 클래스를 Bean으로 설정 -->
	<bean id="strPrinter" class="myspring.di.xml.StringPrinter" />
	
	<!-- ConsolePrinter 클래스를 Bean으로 설정 -->
	<bean id="conPrinter" class="myspring.di.xml.ConsolePrinter" />
	
	<!-- Hello 클래스를 Bean으로 설정 -->
	<bean id="hello" class="myspring.di.xml.Hello" scope="singleton">
		<!-- Setter Injection -->
		<property name="name" value="스프링" />
		<property name="printer" ref="strPrinter" />
	</bean>
	
	<bean id="helloC" class="myspring.di.xml.Hello">
		<constructor-arg  index="0" value="생성자"/>
		<constructor-arg index="1" ref="conPrinter" />
	</bean>
	
</beans>
